<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>О нас</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body style="background: #ead0ab;">
<div th:insert="blocks/nav :: nav"></div>
<main class="page projects-page mt-5">
    <section class="portfolio-block projects-with-sidebar">
        <div class="container">
            <div class="heading">
                <h2>О нас</h2>
            </div>
            <div class="row">
                <div class="col-12" align="justify"><p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;Наш современный барбершоп
                    напоминает место, где делают стрижки, только специфическими элементами интерьера
                    — зеркалами и креслами, рабочими столиками мастеров и расположенными рядом
                    с ними инструментами барбера. В большинстве своем этот мужской клуб
                    по интересам, в которых можно приятно провести время в компании близких
                    по духу и настроению людей.</p>
                </div>
                <div class="col-12" align="justify"><p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;В наш барбершоп приходят работать не просто
                    парикмахеры, а Мастера, которые умеют красиво и модно стричь, комфортно брить, стильно укладывать.
                   </p>
                </div>
                <div class="col-12" align="justify"><p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;Чем на самом деле отличается барбершоп от
                    парикмахерской вы можете узнать, посмотрев видео ниже.</p>
                </div>
                <div class="col-12" align="center">
                    <iframe width="75%" height="550" src="https://www.youtube.com/embed/Z9D_E8KmWZ4"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>